body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#app {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, black, #737373);
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    scrollbar-width: none;
}

.no-link-style {
    text-decoration: none;
}

.input {
    border: none;
    outline: none;
}

iframe {
    border: none;
}

@font-face {
    font-family: 'Zhi Mang Xing';
    src: url("@/assets/ZhiMangXing-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooljazz';
    src: url("@/assets/Cooljazz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amsterdam';
    src: url("@/assets/Amsterdam.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.cm-editor {
    background-color: transparent !important;
}

.cm-focused {
    outline: none !important;
}

.cm-gutters {
    background-color: #272727 !important;
    border: none !important;
}

.cm-activeLineGutter {
    background-color: transparent !important;
}

.cm-activeLine {
    background-color: transparent !important;
}

.cm-scroller {
    scrollbar-width: thin;
    scrollbar-color: #545454 #00000000;
}